<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwsDatePickerView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DA350C521DF103D1002ABA37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA350C6B1DF103D2002ABA37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA350C761DF103D2002ABA37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
